body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
}

.header {
  background: linear-gradient(90deg, #9E3B3B, #FFCDC9);
  color: white;
  text-align: center;
  padding: 15px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  background: #9E3B3B;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #FFC7A7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.columna {
  background: #ffffff;
  border-radius: 15px;
  padding: 10px;
  min-height: 300px;
}

.pedido {
  color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.pedido.pendiente {
  background: #98A1BC;
}

.pedido.preparacion {
  background: #FFDBB6;
}

.pedido.listo {
  background: #A8BBA3;
}

.estado {
  font-weight: bold;
  margin: 5px 0;
}

.popup {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pedido {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

/* estados */
.pendiente {
  background-color: #e74c3c; /* rojo */
}

.preparacion {
  background-color: #f1c40f; /* amarillo */
  color: black;
}

.listo {
  background-color: #2ecc71; /* verde */
}